<h2>Dokończ zamówienie</h2>
<p>Podaj wymagane dane, a zamówienie zostanie natychmiast wysłane!</p>
<div class="well">
    <h3>Odbiorca</h3>
    <div class="form-group">
        <label for="">Imię i nazwisko</label>
        <input type="text" class="form-control" ng-model="data.shipping.name" />
    </div>
    <h3>Adres</h3>
    <div class="form-group">
        <label for="">Nazwa ulicy</label>
        <input type="text" class="form-control" ng-model="data.shipping.street" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary">Dokończ zamówienie</button>
    </div>
</div>